.carrosel {
  margin: 30px 30px 0 30px;
  height: 300px;
}

.carrosel-element {
  cursor: grab;
  margin-top: 10px;
}

.box-filme {
  display: block;

  height: 230px;
  width: 150px;
}

.owl-next span,
.owl-prev span {
  line-height: 5px;
  font-size: 50px;
}

.owl-next:hover,
.owl-prev:hover {
  background: none !important;
}
